{% extends 'base.html.twig' %}

{% block title %}Input index{% endblock %}

{% block body %}
    <h1>Input index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Input_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for input in inputs %}
            <tr>
                <td>{{ input.id }}</td>
                <td>{{ input.quantity }}</td>
                <td>{{ input.amount }}</td>
                <td>{{ input.inputDate ? input.inputDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('input_show', {'id': input.id}) }}">show</a>
                    <a href="{{ path('input_edit', {'id': input.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('input_new') }}">Create new</a>
{% endblock %}
